# Ignore cruft files that are created from vagrant (provisioner, machine)

.vagrant

# Ignore .swp files created from sloppy vim usage

*.swp

# Ignore .retry files that are left due to any Ansible failures

*.retry
